<html lang="en">

<head>
    <link href="/static/css/normalize.css" rel="stylesheet" />
    <link href="/static/css/video-js.css" rel="stylesheet" />
    <style>
        body {
            max-width: 100vw;
            padding-bottom: 1em;
        }

        img,
        video {
            display: block;
            max-width: 100%;
            max-height: calc(100vh - 2em);
            margin-left: auto;
            margin-right: auto;
        }

        header,
        main,
        footer {
            width: 100%;
            height: auto;
            padding: 0 10px;
            box-sizing: border-box;
        }

        .image {
            margin-bottom: 1em;
            position: relative;
        }

        .image-caption {
            padding-top: 0.25em;
            font-style: italic;
            text-align: center;
        }

        @media all and (max-width: 750px) {
            .image-previous,
            .image-next {
                display: none
            }
        }

        .image-previous,
        .image-next {
            position: absolute;
            top: 0;
            background-color: white;
            padding: 0.25em;
        }

        .image-previous {
            left: 0;
        }

        .image-next {
            right: 0;
        }

        .thumbnail-container {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            padding-inline-start: 0;
            margin-block-start: 0;
            margin-block-end: 0;    
        }

        .thumbnail-container>li {
            height: 25vh;
            flex-grow: 1;
        }

        .thumbnail-container>li:last-child {
            flex-grow: 10;
        }

        .thumbnail-container>li>img {
            max-height: 100%;
            min-width: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }

        .dirs {
            border-left: 3px solid lightgray;
            padding-left: 2em;
        }
    </style>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <script src="/static/js/video.min.js"></script>
</head>

<body>
    <header>
        {% if multimedia_dir %}
            <h1>{{ multimedia_dir }}</h1>
        {% else %}
            <h1>Kanhai-Gradzki Family Photo Albums</h1>
        {% endif %}
        {% if dirs and multimedia_dir %}
            <p>Additional sub-directories exist which may contain photos and videos. Links and previews of each are at the very bottom of this page.</p>
        {% endif %}
    </header>
    <main>
        {% for img in images %}
            <div class="image" id="image-{{ loop.index }}">
                {% if loop.first %}
                    <div class="image-previous">
                        <a href="{{ request.headers.get('Referer') }}">Go Back</a>
                    </div>
                {% else %}
                    <div class="image-previous">
                        <a href="#image-{{ loop.index - 1 }}">Previous Photo</a>
                    </div>
                {% endif %}
                {% if not loop.last %}
                    <div class="image-next">
                        <a href="#image-{{ loop.index + 1 }}">Next Photo</a>
                    </div>
                {% endif %}
                <img src="/multimedia/{{ img }}" loading="lazy" />
                <div class="image-caption">{{ img }}</div>
            </div>
        {% endfor %}

        {####################### FIXME: PUT VIDEO SUPPORT BACK IN! #######################}
        {#
        {% for vid in videos %}
            <figure>
                <video controls preload="auto" data-setup='{"fluid": true}'
                    class="video-js vjs-default-skin vjs-play-centered">
                    <source src="/multimedia/{{ vid }}" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
                <figcaption>{{ vid }}</figcaption>
            </figure>
        {% endfor %}
        #}
    </main>
    <footer>
        <div class="{{ 'dirs' if multimedia_dir }}">
            {% for dir_name, dir_url, dir_thumbnail_urls in dirs %}
                <h2><a href="{{ dir_url }}">{{ dir_name }}</a></h2>
                <ul class="thumbnail-container">
                    {% for dir_thumbnail_url in dir_thumbnail_urls %}
                    <li><img src="{{ dir_thumbnail_url }}" loading="lazy" /></li>
                    {% endfor %}
                    <li></li> <!-- format hack -->
                </ul>
            {% endfor %}
        </div>
    </footer>
</body>

</html>